
.responsive-poster-pref {
  position: relative;
  width: 100%;
  overflow: hidden;

}

.card-movieposter-pref {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.remove-bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.voteplacementpref {
  position: absolute;
  top: 120px;
  right: 300px;
}

.likeplacementcarousel {
  position: absolute;
  top: 12px;
  left: 350px;
  color: red;
}

.avatarsearch {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover !important;
  margin: 0 auto !important;
  display: block !important;
}

.hidden-heart {
  display: none;
}
