:root{--background: #1B1810 };
:root{--solid_colors: #DAAD00}
:root{--border_and_separators: #66541F}
:root{--accessible-text: #FAE9B8}
:root{--interactive-components: #392B00}


.container {
  width: 100% ;
  padding: 20px;
  background-color: var(--background);
  color: var(--accessible-text);
}


.title-profile{
text-align: center;
color: var(--solid_colors) ;
margin: 20px;
font-size: 1.8rem;
font-weight: bold;
letter-spacing: 1px;
}

.card-profile{
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-profile{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: var(--border_and_separators) 1px solid;
}

.profile-infos h2 {
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--solid_colors);
}

.profile-infos p {
  margin: 10px;
  padding: 5px;
  color: var(--accessible-text);
  }

.account-profile{
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  background-color: var(--background);
  border-color: var(--border_and_separators);
}

.account-profile h2{
  color: var(--solid_colors);
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  padding-top: 10px;
}

.account-profile a{
  display: flex;
  text-decoration: none;
  color: var(--accessible-text);
  }

.movhint-liked-profile{
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  background-color: var(--background);
  border-color: var(--border_and_separators);
}


.movhint-liked-profile h2{
  color: var(--solid_colors);
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  padding-top: 10px;
}

.movhint-liked-profile a{
  display: flex;
  text-decoration: none;
  color: var(--accessible-text);
  }


.more-profile{
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  background-color: var(--background);
  border-color: var(--border_and_separators);
}

.more-profile h2{
  color: var(--solid_colors);
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  padding-top: 10px;
}

.more-profile a{
  display: flex;
  text-decoration: none;
  color: var(--accessible-text);
  }



.icon-circle-account {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--solid_colors);
  color: var(--background);
  border-radius: 50%;
  margin-right: 10px;
}

.icon-circle-liked {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--solid_colors);
  color: var(--background);
  border-radius: 50%;
  margin-right: 15px;
}

.icon-circle-more{
  width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--solid_colors);
    color: var(--background);
    border-radius: 50%;
    margin-right: 10px;
}




.btn-log{
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid; ;
  background-color: var(--background);
  border-color: var(--border_and_separators);
  color: var(--accessible-text);
  margin: 60px;
  padding: 10px;
}
