<div class="barsearch">
  <div class="search-bar">
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search by title...">
    </div>
  </div>
</div>


<% if @results.present? %>
  <div class="movies">
    <% @results.each do |result| %>
      <div class="movie">
        <div class="rating">
          <span>⭐ <%= result["vote_average"] %></span>
        </div>
        <div class="poster">
          <%= image_tag "https://image.tmdb.org/t/p/w200#{result['poster_path']}", alt: result["title"] %>
        </div>
        <p><%= result["title"] %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No results found</p>
<% end %>

