
  <div class="navbar"  >
      <div class="navbar-btn-home ">
        <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>
        <% end %>
      </div>

      <div>
        <%= link_to "log out", destroy_user_session_path, turbo: false, data: { turbo_method: :delete } %>
      </div>


      <div class="navbar-btn-profile ">
        <%= link_to dashboard_path do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      </div>
  </div>
