
  <div class="navbar"  >
      <div class="navbar-btn-home ">
        <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>
        <% end %>
      </div>

    <div class="navbar-btn-preference ">
        <%= link_to preferences_dashboard_path do %>
        <i class="fa-solid fa-heart"></i>
        <% end %>
      </div>


      <div class="navbar-btn-profile ">
        <%= link_to dashboard_path do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      </div>
  </div>
