<div class="barsearch">
  <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search a title, category">
        <i class="fa-solid fa-bars"></i>
  </div>
</div>
