


<div id="carousel" class="carousel slide d-none"  data-suggestion-target="carousel">
  <main class="containersugg">
    <% movies.each.with_index do |movie, index| %>
      <section class="scrolling-carousel <%= index == 0 ? 'active' : '' %>">
        <a href="<%= movie_path(movie[:title]) %>">
          <%= image_tag "https://image.tmdb.org/t/p/w200#{find_movie_poster(movie[:id])}", class:"imgsugg" %>
        </a>
      </section>
    <% end %>
  </main>
</div>
