
<body>

    <div class="header">
            <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
        <div class="greeting">
            <h1>Hello Mathieu</h1>
            <span>Let's watch your favorite movie</span>
        </div>
        <div class="favorite">
            <i class="fa-solid fa-heart" style="color: #ec1515;"></i>
        </div>
    </div>

    <%= render "shared/searchbar" %>

</body>
