    <div class="header">
            <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
        <div class="greeting">
            <h1>Hello Mathieu</h1>
            <span>Let's watch your favorite movie</span>
        </div>
        <div class="favorite">
            <i class="fa-solid fa-heart" style="color: #ec1515;"></i>
        </div>
    </div>

    <%= render "shared/searchbar" %>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">We’ll Make You an Offer You Can't Refuse</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Surprise !</a>
      </div>
    </div>



<%# ------------- \/ Keep out of contaitner \/ --------------------------%>

<%= render "shared/genre_modal" %>q
