<div class="barsearch">
  <div class="search-bar">
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search by title...">
    </div>
  </div>
</div>

<div class="container">

  <h1 style="font-size: 16px;letter-spacing: 1px;text-align: center;"><strong>Your favorite Personnalities</strong></h1>
  <hr>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="padding: 0px 20px 20px;">
    <div class="carousel-inner" style="overflow: scroll">

      <div class="carousel-item active">
        <div class="carousel-images-row d-flex justify-content-center">
          <div style="margin: 0 10px;">
            <img
              class="avatar-bordered avatarsearch d-block w-25 carousel-image mx-2"
              src="https://img-4.linternaute.com/8B2C3rvHC7Gy0HMgUJno-qC68Rg=/1500x/smart/6829ea46fe924b9fa17cc423a7b230f5/ccmcms-linternaute/50214018.jpg"
              alt="Leonardo DiCaprio"
            >
          </div>
          <div style="margin: 0 10px;">
            <img
              class="avatar-bordered avatarsearch d-block w-25 carousel-image mx-2"
              src="https://fr.web.img2.acsta.net/pictures/20/02/10/10/37/1374948.jpg"
              alt="Brad Pitt"
            >
          </div>
          <div style="margin: 0 10px;">
            <img
                class="avatar-bordered avatarsearch d-block w-25 carousel-image mx-2"
                src="https://upload.wikimedia.org/wikipedia/commons/d/d8/Christoph_Waltz_Viennale_2017_f_%28cropped%29.jpg"
                alt="Christopher Waltz"
              >
          </div>
          <div style="margin: 0 10px;">
            <img
              class="avatar-bordered avatarsearch d-block w-25 carousel-image mx-2"
              src="https://cdn.britannica.com/16/221316-050-680EBB62/Steve-Buscemi-2012.jpg"
              alt="Steve Buscemi"
            >
          </div>
          <div style="margin: 0 10px;">
            <img
              class="avatar-bordered avatarsearch d-block w-25 carousel-image mx-2"
              src="https://flxt.tmsimg.com/assets/74053_v9_bb.jpg"
              alt="Russell Crowe"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 style="font-size: 16px;letter-spacing: 1px;text-align: center;"><strong>Your favourite movies</strong></h1>
<hr>
<ul class="remove-bullet">
  <% @movies.each do |movie| %>
    <li>
      <div class="responsive-poster-pref"
        data-controller="preferences"
        data-preferences-movie-id-value="<%= movie["id"] %>">
       <div class="flexsearched">
          <div class="d-inline p-3" data-action="click->preferences#removePreference"><i class="fa-solid fa-trash-can likeplacement" style="position: absolute;display: inline-block;top: 30px;left: 10px;color: #F00;"></i></div>
          <%= image_tag "https://image.tmdb.org/t/p/original/#{movie["poster_path"]}", alt: "#{movie["original_title"]} Poster", class: "card-movieposter-pref postersearched" %>
       </div>
      </div>
    </li>
  <% end %>
</ul>
</div>
