.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}


.mapboxgl-popup-content {
  background: #1B1810;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color:  #FAE9B8;
  max-width: 250px;
  overflow: hidden;
  line-height: 1.4;
  text-align: left;
}
