:root{--background: #1B1810 };
:root{--solid_colors: #DAAD00}
:root{--border_and_separators: #66541F}
:root{--accessible-text: #FAE9B8}
:root{--interactive-components: #392B00}


.navbar{
  display: flex;
  text-align: center;
 justify-content: space-around;
 padding: 20px;
 z-index: 1000;
 position: sticky;
 bottom: 0px;
 background-color: var(--background);
 width: 100%;
 box-shadow: -4px 0px 3px #010101;
}

.navbar a{
text-decoration: none;
color: var(--accessible-text);
}


.navbar-btn-profile{
  width: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--border_and_separators);
}

.navbar-btn-profile i {
color: var(--solid_colors);
}

.navbar-btn-home{
  width: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--border_and_separators);
}

.navbar-btn-home i{
  color: var(--solid_colors);
}


.navbar-btn-preference{
  width: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--border_and_separators);
}

.navbar-btn-preference i{
  color: var(--solid_colors);
}
